@font-face {
    font-family: "Adobe Clean";
    src: url("font/AdobeClean-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Adobe Clean";
    font-weight: bold;
    src: url("font/AdobeClean-Bold.woff2") format("woff2");
}
*{
    box-sizing: border-box;    
}
body{
    font-family: 'Adobe Clean';
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
}

header{
    margin-top: 50px;
    display: flex;
}
header strong{
    font-family: 'Adobe Clean';
    font-size: 50px;
    font-weight: bold;
}
.start-app{
    border: none;
    background-color: #cccccc;
    height: 35px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    font-family: 'Adobe Clean';
}
.lang-chooser{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 80px;
    
}
.lang-chooser__el {
    width: 32px; 
    height: 32px; 
    display: block; 
    position: relative;
}
.lang-chooser__input{
    display: none;
}
.lang-chooser__input + span {
    position: absolute; /* Абсолютное позиционирование */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer; 
    background-color: transparent;
    background-size: cover;

    border-radius: 100%;
    opacity: 0.5;
}
.lang-chooser__input:checked + span {
    opacity: 1;
}

.lang-chooser__input_en + span{
    background-image: url('img/uk.png');
}
.lang-chooser__input_ru + span{
    background-image: url('img/ru.png');
}

img{
    width: 100%;
}
.start-app{
    display: inline-block;
    text-decoration: none;
    background-color: #69665C;
    cursor: pointer;
    border: none;
    color: white;
    width: 100px;
    height: 35px;
    line-height: 38px;
    text-align: center;
    border-radius: 10px;
    opacity: 0.8;
    margin-top: 15px;
}
.start-app:hover{
    opacity: 1;
    transition: all 1s ease-out;
}

.first-letter{
    color: #d1e5f7;
}
.second-letter{
    color: #ffcdcd;
}
.third-letter{
    color: #daf2d6;
}
.fourth-letter{
    color: #d2ceff;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer{
    margin-bottom: 50px;
    min-width: 240px;
    max-width: 420px;
    padding: 0 10px;
}
.card3d{
    width: 100%;
    height: 130px;
    perspective: 500px;
    transform-style: preserve-3d;
}
.task-card {
    width: 100%;
    background: #fff9de;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0px 15px rgba(0,0,0,0.3);
    min-height: 120px;
    height: auto;
    border-radius: 3px;
    padding: 15px;
    transform-style: preserve-3d;
    transform: translateZ(0);
    transition: 0.2s linear all;
}

.description-card{
    margin:10px 0 30px 0;
    text-decoration: line-through;
}
.tags-card{
    display: flex;
    flex-direction: row;
    left: 20px;
    bottom: 10px;
}
.round{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.card-work{
    background: #d2ceff;
}
.card-entertaiment{
    background-color: #ffcece;
}
.card-family{
    background-color: #daf2d6;
}
.card-study{
    background-color: #d1e5f7;
}
.card-header, .card-footer {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.card-header{
    text-decoration: line-through;
}
.menu-card{
    color: #B2AFA1;
    min-width: 20px;
    width: 20px;
    height: 20px;
    background-image: url('img/points.png');
    background-repeat: no-repeat;
}


.done-task{
    position: relative;
}

.task-custom input{
    display: none;
}

.task-custom span{
    color: #777;
    display: flex;
    padding-left: 30px;
    line-height: 16px;
    font-size: 16px;
}
.task-custom span:before{
    content: "";
    display: block;
    width: 15px;
    height: 15px;

    border: 2px solid #777;
    border-radius: 5px;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.task-custom input:checked + span{
    color: #000;
}
.task-custom input:checked + span::before{
    border-color: #000;
}
.task-custom input:checked + span::after{
    content: "";
    display: block;
    width: 12px;
    height: 6px;
    
    border-left: 2px solid #000;
    border-bottom: 3px solid #000;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-55%) translateX(25%) rotate(-50deg);
}

.loaded{
    animation: pageLoaded 3s linear infinite;
}

@keyframes pageLoaded{
    0%{ transform: scale(1);}
    10%{ transform: scale(1.05);}
    20%{ transform: scale(1);}
    30%{ transform: scale(1.1);}
    40%{ transform: scale(1);}
    100%{ transform: scale(1);}
}




    

  