body{
    color: #303846;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Adobe Clean';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    overflow-x: hidden;
    position: relative;

}

.modal{
    font-family: 'Adobe Clean';
    font-weight: bold;
    font-size: large;
    color: #69665c;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}
.modal .modal-content, .save-content-card {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 50%;
    height: 75%;
    z-index: 99999;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 15px;
}

.add, .save{
    display: flex;
    justify-content: space-between;
    padding: 35px 35px 10px 35px;
}
.add-card{
    cursor: pointer;
}



.close-modal-window, .close-edit-card{
    background: transparent;
    border: none !important;
    color: #777;
    cursor: pointer;
    padding-left: 0px;
}
.add-modal, .save-edit{
    background-color: #69665C;
    cursor: pointer;
    border: none;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    opacity: 0.8;
}
.add-modal:hover, .save-edit:hover {
    opacity: 1;
    transition: all 1s ease-out;
}
.modal-title input{
    border: 0px;
    background-color: #f9f9f8;
    height: 35px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    font-family: 'Adobe Clean';
}
.modal-title input:focus::placeholder{
    color: transparent;
}
.modal-description textarea{
    font-family: 'Adobe Clean';
    font-size: 14px;
    border: 0px;
    background-color: #f9f9f8;
    height: 100px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}
.modal-description textarea:focus::placeholder{
    color: transparent;
}
.modal-tags{
    padding: 10px 0 5px 35px;
}
.modal-tags .modal-nav{
    display: flex;
}
.modal-tags .modal-nav .nav__elem{
    margin: 0 30px 0 0;
    height: 40px;
    border-radius: 10px;
    font-weight: normal;
}
.modal-tags .modal-nav .nav__elem:hover{
    background-color: #f9f9f8;
    margin: 0 30px 0 0;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}
.flex-container{
    display: flex;
    flex-wrap: nowrap;
    min-height: calc(100vh - 100px);
    padding: 0 30px 30px;
    box-sizing: border-box;
}

.modal-flex{
    display: flex;
    flex-direction: column;
    padding: 10px 35px 10px 35px;
}

.header {
    max-width: 1280px;
    height: 60px;
    color: #7e7c73;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30;
    padding: 20px 30px;
}
.aside{
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: space-between;
    width: 300px;
    padding-top: 25px;
}

.nav{
    display: flex;
    flex-direction: column;
}
.nav__elem{
    padding-left: 30px;
    box-sizing: border-box;
    position: relative;

    display: flex;
    align-items: center;
    align-content: center;
    cursor: pointer;

    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
}
.nav__elem.work::before{
    background-color: #D2CEFF;
}
.nav__elem.study::before{
    background-color: #D1E5F7;
}
.nav__elem.entertaiment::before{
    background-color: #FFCECE;
}
.nav__elem.family::before{
    background-color: #DAF2D6;
}
.nav__elem.notag::before{
    background-color: #ccc;
}
.nav__elem.filtered{
    background-color: #edefec;
    padding-right: 5px;
    transition: 1s;
    border-radius: 10px;
    cursor: pointer;
}
.nav__elem input{
    display: none;
}
.nav__elem input + span{
    transition: border-color 1s linear;
    position: relative;
    /* border-bottom: #fff solid 1px; */
}

.nav__elem input + span::before{
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    height: 1px;
    left: 50%;
    bottom: 0;
    /* max-width: 0px; */

    transition: all 0.5s linear;
    background-color: #6979a2;
}

.test{
    color: red;
}
.nav__elem input:checked + span:before{
    width: 100%;
    left: 0%;
}

/* .modal-tags{
    background-color: lightsalmon;
} */

.hide-tasks{
  padding-top: 10px;
}

.task-custom input{
    display: none;
}

.task-custom span{
    cursor: pointer;
    color: #777;
    position: relative;
    display: flex;
    padding-left: 30px;
    line-height: 16px;
    font-size: 16px;
}
.task-custom span:before{
    content: "";
    display: block;
    width: 15px;
    height: 15px;

    border: 2px solid #777;
    border-radius: 5px;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


.task-custom input:checked + span{
    color: #000;
}
.task-custom input:checked + span::before{
    border-color: #000;
}
.task-custom input:checked + span::after{
    content: "";
    display: block;
    width: 12px;
    height: 6px;
    
    border-left: 2px solid #000;
    border-bottom: 3px solid #000;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-55%) translateX(25%) rotate(-50deg);
}
.done-task {
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.nav__elem::before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100%;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


.main{
    display: flex;
    /* flex-grow: 2; */
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    
    width: 100%;
}
.main:after{
    content: "";
    width: calc( 99% / 3 - 30px);
    height: 0;
    margin: 0 15px 0 15px;
    box-sizing: border-box;
}
.card-filler,
.task-card {
    /* flex: 1 1 200px; */
    width: calc( 100% / 3 - 15px);
    margin-top: 25px;
    padding: 10px 25px;
    box-sizing: border-box;
    background: #fff9de;
    border: 1px solid #e8e8e8;
    box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.1);
    min-height: 120px;
    height: auto;
    position: relative;
    border-radius: 3px;
}
.task-card.closed{
    text-decoration: line-through;
}
.task-card.cloned{
    position: absolute;
    opacity: 0.3;
    pointer-events: none;
    cursor: grabbing;
}
.card-filler{
    background-color: #ffcece;
}
.menu-card{
    cursor: pointer;
    color: #B2AFA1;
    min-width: 20px;
    width: 20px;
    height: 20px;
    background-image: url('/img/points.png');
    background-repeat: no-repeat;
}
.dropdown-menu{
    margin: 20px 5px 0 0;
    width: 40%;
    height: 50%;
    position: absolute;
    right: 10px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 1;
    padding: 10px;
    display: none;
    cursor: pointer;
}
.dropdown-menu.opened{
    display: block;
}
.dropdown-menu li{
    font-size: 12px;
    font-weight: normal;
    color: #b2afa1;
    height: 50%;
}
.border-bottom{
    border-bottom: 1px solid lightgrey;
}
.description-card{
    margin:10px 0 30px 0;
}
.tags-card{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 20px;
    bottom: 10px;
}
.round{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.card-work{
    background: #d2ceff;
}
.card-entertaiment{
    background-color: #ffcece;
}
.card-family{
    background-color: #daf2d6;
}
.card-study{
    background-color: #d1e5f7;
}
.card-header {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.girl-picture{
    position: absolute;
    padding-left: 15px;
    bottom: 30px;
}
@media (max-width: 1000px) {
    .modal .modal-content, .save-content-card{
        height: 100%;
    }
    .flex-container{
        flex-wrap: wrap;
    }
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .aside{
        flex-grow: 1;
        height: auto;
    }
    .nav__elem{
        max-width: calc(20% - 15px);
        margin-right: 15px;
    }
    .nav__elem:last-child{
        margin-right: 0;
    }
    .header{
        padding: 20px 30px 0 30px;
    }
    .girl-picture{
        display: none;
    }
    .done-task{
        padding-left: 25px;
        padding-top: 0px;
      }
}
  @media (min-width: 600px) and (max-width: 1199px) {
    .card-filler,
    .task-card {
      width: calc( 50% - 15px);
    }

  }
  @media screen and (max-width: 600px) {
    .card-filler,
    .task-card {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

  }
  @media (max-height: 550px){
    .modal .modal-content, .save-content-card {
        height: 80%;
    }
  }
  @media (max-height: 500px){
    .modal .modal-content, .save-content-card {
        height: 100%;
    }
  }

  @media(max-width: 660px){
    .modal-tags ul li{
        margin: 0 15px 0 0;
        font-size: 12px;
    }
  }
  @media(max-width: 850px){
    .modal .modal-content, .save-content-card {
        width: 65%;
    }
  }
  @media (max-width: 500px){
    .modal-tags ul li{
        margin: 0 10px 0 0;
        font-size: 12px;
    }
  }

@media (max-width: 1200px) {
    .aside{
        flex-grow: 1;
    }
}

@media (max-width: 800px) {
    .aside{
        height: auto;
        width: 100px;
    }
    .flex-container{
        padding-left: 45px;
        padding-right: 45px;
    }
    .header{
        padding: 20px 45px 0 45px;
        font-size: 24px;
    }
    .modal .modal-content, .save-content-card {
        height: 100%;
    }
    .nav__elem{
        max-width: 20%;
    }
}
@media (max-width: 480px){
    .nav:after{
        content: "";
        width: 32%;
        height: 0;
    }
    .nav li{
        font-size: 10px;
        margin: 0px;
        margin-top: 5px;
    }
    .modal .modal-content, .save-content-card {
        width: 100%;
    }
    .task-custom span{
        font-size: 14px;
    }
}
@media (max-width: 600px) {
    .aside{
        width: 100%;
    }
    .nav{
        flex-wrap: wrap;
    }
    .nav__elem{
        min-width:32%;
    }
}
@media (max-width: 440px) {
    .nav__elem{
        max-width: 50%;
        width: 50%;
    }
    .nav{
        flex-wrap: wrap;
    }
}

@font-face {
    font-family: "Adobe Clean";
    font-style: normal;
    font-weight: 400;
    src: url("/font/AdobeClean-Regular.woff2") format("woff2")
  }


.new-change-lang{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 102px;

    margin-left: auto;
    margin-right: 20px;
}
.new-change-lang__lang{
    font-size: 12px;
    width: 30px;
    height: 20px;
    line-height: 22px;

    text-align: center;

    cursor: pointer;
    transition: 300ms linear all;
    background-color: #fff;
    color: #000;
}
.new-change-lang__toggler{
    min-width: 42px;
    width: 44px;
    height: 24px;
    border: 1px solid #777;
    padding: 1px;
    box-sizing: border-box;
    position: relative;
    border-radius: 22px;
    cursor: pointer;
}
.new-change-lang__toggler::before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;

    position: absolute;
    left: 1px;
    top: 1px;

    transition: 300ms linear all;
    background:  rgba(148,187,233,1);
    
    border-radius: 100%;
}
.new-change-lang_active .new-change-lang__toggler::before{
    background: rgba(238,174,202,1);
    left: 20px;
}
[data-tooltip] {
    position: relative; 
   }
[data-tooltip]::after {
    content: attr(data-tooltip); 
    position: absolute;
    left: 0; top: 0;
    display: inline-block;
    background: #f7f7f7; 
    padding: 0.5em; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    pointer-events: none; 
    opacity: 0; 
    transition: 1s;
    border-radius: 5px;
    color: #303846;
    font-family: 'Adobe Clean';
    height: 12px;
    line-height: 12px;
} 
[data-tooltip]:hover::after {
    opacity: 1;
    top: 2em; 
}


.drag-card{
    background-color: #fff9de;
    cursor: grab;
    background-image: url('/img/drag.png');
    min-width: 20px;
    width: 20px;
    height: 20px;
    background-blend-mode: multiply;
    
}